@{
    ViewData["Title"] = "Stream File Upload";
}

<hr />

<h1>Stream File Upload</h1>

<hr />

<div>
    <form enctype="multipart/form-data" method="POST">
        <input type="file" name="file" />
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>

@if (ViewBag.Message != null)
{
    <div class="alert" style="margin-top:20px">
        @ViewBag.Message
    </div>
}